<app-header></app-header>
<div class="container">
    <section class="search">
        <p>WELCOME TO REVIEWHUB, YOU CAN TRUST US!</p>
        <div class="search-container">
            <input type="text" placeholder="seach for item or category">
            <button type="submit" class="material-symbols-outlined">search</button>
        </div>
    </section>
    <section class="categories">
        <div class="heading">
            <h3>Here are some catgories</h3>
            <a href="#">All categories</a>
        </div>
        <div class="category-item">
            <div class="icon">

            </div>
            <div class="description">
                <p>Bank</p>
            </div>
        </div>
        

    </section>
    <section class="reviews">

    </section>
    <section class="about">
        
    </section>
</div>
<app-footer></app-footer>
